*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 90vh;
}
.container
{

    border: 5px solid black;
    margin: 3px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.flex
{
    display: flex;
    gap: 10px;
}
.leftside
{
    position:fixed;
    
    top: 0;
    left: 0;
    bottom: 0;
    
    width: 24%;
    
}
.logo
{
    padding-top: 30px;
    padding-left: 15px;
}
.home ul li
{    display: flex;
    gap: 21px;
    width: 35px;
    list-style: none;
    margin-top: 13px;
    padding-left: 15px;
    font-size: 18px;
    font-weight:bold;
}
.home ul{
    margin-top: 0px;
}
.rightside
{
    flex: 1; /* Allows content to fill remaining space */
    margin-left: 350px; /* Account for sidebar width plus some margin */
    overscroll-behavior: none;
  
    width: 76%;
}
.bgblock
{
background-color: black;
color: white;

}

.invert
{
    filter: invert(1);
    
}
.home{
    border-radius: 12px;
    margin: 6px;
    height: 150px;
    width: 345px;
}
.grey
{
    background-color:rgb(137 133 133 / 15%);
}
.library
{
    margin-top: 6px;
    min-height: 80vh;
    position: relative;
    margin-left: 4px;
    width: 345px;
    border-radius: 12px;
}
.heading
{
    display: flex;
    width: 100%;
    gap: 15px;
    padding-left: 25px;
    padding-top: 16px;


}
.lib{
    color: rgba(255, 255, 255, 0.437);
    font-size: 16px;

}

.heading img{
    width: 20px;
}
.plus
{
    margin-left: 118px;
    width: 20px;
}
.footer
{font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    position: absolute;
    bottom: 210px;
    padding-left: 20px;
}
.english button
{
    padding:5px;
    padding-left: 12px;
    background-color: black;
    color: white;
    width: 32%;
    border: none;
    border: 2px solid rgba(255, 255, 255, 0.312);
    border-radius: 30px;
    transition: transform 0.2s ease-in-out;


    
}
.english button:hover{
    border: 1px solid white;
    width:33% ;
    
}
.english
{
    margin-top: 120px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.english svg{

    width: 20px;
    filter: invert(1);
}
.head0
{
    font-weight: bold;
}
.footer a{
    color: grey;
}
.arrows
{
    display: flex;
    gap: 7px;
}
.login
{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.arrows img{
    width: 20px;
}
.header
{    background-color:rgb(137 133 133 / 15%);
position: sticky;
top: 0;
    display: flex;
    justify-content:space-between;
    padding: 6px 26px;
    height: 59px;
    margin-left: 10px;
}
 .btn
{
    background-color: black;
    color: grey;
    border: none;
    border-radius: 25px;
    
    font-family: Arial, sans-serif;
      font-weight: bold;
      
    padding:15px;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    transition: transform 0.2s ease-in-out;

}
.btn1
{
    background-color:white;
    color:black;
    border: none;
    border-radius: 25px;
    font-weight: bold;
width: 107px;
    padding:16px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;



} 
.btn1:hover{
    
    
    width: 108px;
    
    font-weight: bolder;

}
.btn:hover{
    font-weight: bold;
  width: 101px;
    color: white;

}

.container2
{margin-top: 5px;
    
        background: linear-gradient(to bottom, #212121, black);
      
      
width: 1240px;

}
.cards
{
    display: flex;
    gap: 10px;
    width: 1170px;
}
.head3{
    padding-top: 30px;
    padding-left: 13px;
}
.head6
{
    padding-left: 13px;
    padding-top: 30px;
    font-size: 22px;
}
.head3:hover{
    text-decoration: underline;
}
.head6:hover{
    text-decoration: underline;
}
.card1
{position:relative;
    margin-top: 16px;
width: 200px;
    margin-left:15px ;
}
.card1 img{
    width: 100%;
    border-radius: 50%;
    padding: 10px;
}
.head4
{
    font-size: 17px;
    padding-left:10px;

}

.para1
{padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: 100;
}
 .play
{
    width: 48px;
    position: absolute;
    right: 11px;
    bottom: 56px;
    opacity: 0;
    transition: all 0.3s ease-out;
}
.play1
{
    width: 48px;
    position: absolute;
    right: 8px;
    bottom: 61px;
    opacity: 0;
    transition: all 0.3s ease-out;

}
.play2
{    width: 48px;
    position: absolute;
    right: 23px;
    bottom: 55px;
    opacity: 0;
    transition: all 0.3s ease-out;


}.play2:hover{
    opacity: 1;
    bottom: 87px;
}
.play1:hover{
    opacity: 1;
    bottom: 76px;
}
.card1:hover{
    background: linear-gradient(to top, #212121, rgba(0, 0, 0, 0.047));
    
}
.card2:hover{
    background: linear-gradient(to top, #212121, rgba(0, 0, 0, 0.047));

}
.play:hover{
    opacity: 1;
    bottom: 73px;
}
.pau{
    width:100% ;
}
.container3
{margin-top: 5px;
    
    background: linear-gradient(to bottom,black, black);
  
     width: 1200px

}
.head5
{      padding-bottom: 4px; 
    font-size: 17px;
    padding-left:20px;




}
.para2
{padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: 100;

}
.para3
{
    padding-left: 20px;
    padding-top: 4px;
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: lighter;
}
.para2:hover{
    text-decoration: underline;
}
.card2
{
    position:relative;
    margin-top: 16px;
width: 210px;
    margin-left:15px ;
    border-radius:15px;
}
.card2 img{
    width: 100%;
    padding: 5px;
border-radius: 20px;
}
.card3
{
    position:relative;
    margin: 10px;
width: 200px;
border-radius: 15px;


}
.card3:hover{
    background: linear-gradient(to top, #212121,#212121);
border-radius: 15px;
}
.card3 img{
    width: 100%;
    padding: 5px;
    border-radius: 20px;
}

.wrapper
{
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: hsla(0,0%,100%,.3) transparent;

}
.show
{
    display: flex;
    justify-content: space-between;
}
.para5
{
    font-size: 15px;
    padding-right: 70px;
}
.para10
{
    font-size: 15px;
    padding-right: 100px;
    padding-top: 20px;
}
.para5:hover{
    text-decoration: underline;

}
.para10:hover{
    text-decoration: underline;

}
.container4
{
    display: flex;
    gap: 120px;
    margin-top: 45px;
    margin-left: 35px;
    
    background: linear-gradient(to bottom,black, black);
  
     width: 1200px
}
.head7
{
    font-size: 17px;
}
.para6
{
    font-size: 15px;
    padding: 5px;
}
.last1 ul
{
    display: flex;
    flex-direction: row;
    gap: 30px;
    

    list-style: none;
}
.para6:hover{
text-decoration: underline;
}
.inv
{
    filter: invert(1);
    width: 28px;
    border-radius: 50%;
    height: 30px;
    padding-left: 7px;
    padding-top: 5px;
    
}


.last1 ul li
{
    text-decoration: none;

    border-radius: 50%;
    
    width: 35px;
}
.last1 ul li:hover{
    background-color: #212121;

}
.container5{
    
    margin-top: 45px;
    margin-left: 35px;
    
    background: linear-gradient(to bottom,black, black);
  
     width: 1200px;
     border-top: 2px solid grey;
     height: 170px;

}
.head8
{
    font-size: 15px;
 padding-top: 45px;
 padding-left: 10px;
 
 font-family: Arial, Helvetica, sans-serif;
 font-weight:600;
 color: grey;
}
body p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: grey;

}
.create
{
    margin-top:40px;
    max-height: 34vh;
    scrollbar-width: 15px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-color: grey;
    scrollbar-color: hsla(0,0%,100%,.3) transparent;
}
.create1
{

    padding: 20px;
    
    background-color:hsla(0,0%,47%,.3);
    border-radius: 18px;
    height: 140px;

    
}
.create2
{
    margin-top: 20px;
   padding: 20px;
height: 150px;
    background-color: hsla(0,0%,47%,.3);
    border-radius: 18px
}
.para0{
    font-size: 17px;
}
.para8
{padding-top:10px;
    color: white;
}
.btn3
{
    padding: 7px;
    border: none;
    width: 40%;
    background-color: white;
    color: black;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 2s ease-in-out;
}
.btn3:hover{
    width: 41%;
    border: 1px solid white;
}
.btn4:hover{
    width: 51%;
    border: 1px solid white;
}

.btn4
{    padding: 7px;
    border: none;
    width: 50%;
    background-color: white;
    color: black;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 4px;
    font-weight: bold;
cursor: pointer;
transition: transform 2s ease-in-out;




}
  



